.container {
  display: flex;
  height: 100vh;
}

.left {
  flex: 1;
  height: 1000px;
  width: 1000px;
}

.right {
  flex: 1;
  height: 1000px;
  width: 1000px;
}
.rightContent {
  height: 80vh;
  width: 57%;
  background-color: #d4e4fa;
  margin-left: 25px;
  border-radius: 15px;
}
.card_css {
  margin-left: 20%;
  margin-top: 10%;
  /* border:4px solid #d4e4fa; */
  border-radius: 20px;
  background-color: #ffffff;
  border-top: 8px solid #d4e4fa; /* Adjust the width and color as needed */
  border-left: 8px solid #d4e4fa;
}
.button_css {
  border: 4px solid #d4e4fa;
  border-radius: 10px;
  background-color: #ffffff;
}
.submit_button_css {
  width: 100%;
}
.container {
  position: relative;
  width: 100%;
}



.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}