.navbar {
  width: 100%;
  height: 65px;
  background-color: #0061df;
}
.accountIcon {
  color: #ffffff;
  height: 45px;
  width: 45px;
  margin-right: 100px;
  margin-top: 12px;
}
.container {
  display: flex;
  height: 100vh;
}

.left {
  flex: 1;
  background-color:  #0061df; /* Left section color */
  height: 1000px;
  width: 1000px;
}

.right {
  flex: 1;
  background-color: red; /* Right section color */
  height: 1000px;
  width: 1000px;
}
.right-content{
  height:100px;
  width:100px;
}